.divCards{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: #2af70100;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 8px 5px 5px 0px rgba(0, 0, 0, 0.75);
}