.nav{
   background-color: #eeff0000;
   padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content: end;
   margin-bottom: 1em;
}

body {
   background-image: url("https://rare-gallery.com/mocahbig/391711-rick-and-morty-4k-pc-wallpaper.jpg");
   background-size: cover;
   
 }